#!/usr/bin/env bash
# To add more files to be checked use watch_file like this
# shellcheck disable=SC2046
watch_file $(find . -name "*.nix" -printf '"%p" ')
# 缓存 direnv 信息，更快进入文件
type nix_direnv_manual_reload >/dev/null 2>&1 && nix_direnv_manual_reload
use flake . --impure
