name: Auto Update Flake Inputs

on:
  schedule:
    # run this daily at 8am UTC, or roughly 4am eastern
    - cron: '0 0 * * 6'
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - master
    paths:
      - 'packages/**/update.py'
      - 'packages/**/update.sh'
      - 'nvfetcher.toml'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: styfle/cancel-workflow-action@0.7.0
      #   with:
      #     access_token: ${{ github.token }}
      - uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - uses: cachix/install-nix-action@v25
        with:
          # FIXME: https://github.com/NixOS/nix/issues/9889
          extra_nix_config: |
            experimental-features = nix-command flakes configurable-impure-env auto-allocate-uids
      - name: Prepare flakebot branch
        run: |
          git config --local user.email "flakebot@users.noreply.github.com"
          git config --local user.name "flakebot"
          git checkout -B flakebot
      - name: Update and commit lockfile
        # run: nix flake update --commit-lock-file
        run: nix flake lock --update-input darwin --update-input devenv --update-input emacs-overlay --update-input flake-utils --update-input home-manager --update-input nix-index-database --update-input nixos-hardware --update-input nixpkgs --update-input nur --update-input treefmt-nix --update-input nvfetcher --commit-lock-file
      - name: Update my pkgs src
        run: |
          cat > secrets.toml <<EOF
          [keys]
          github = "${{ secrets.GITHUB_TOKEN }}"
          EOF
          nix --auto-allocate-uids run .#update
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: flakebot
          force: true
      - name: pull-request-action
        uses: vsoch/pull-request-action@1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_FROM_BRANCH: 'flakebot'
          PULL_REQUEST_BRANCH: 'master'
          MAINTAINER_CANT_MODIFY: true
          PASS_IF_EXISTS: true
          PASS_ON_ERROR: true
          PULL_REQUEST_UPDATE: true
          PULL_REQUEST_TITLE: 'Update Flake Inputs'
